.input {
	background-color: var(--gray-500);
	border-radius: 8px;
	height: 54px;
	width: 100%;
	padding: 16px;
	border: 1px solid var(--gray-700);
	color: var(--gray-100);
}

.input:focus {
	border: 1px solid var(--purpleDark);
	outline: none;
}

.input::placeholder {
	color: var(--gray-300);
}
