.header {
	background-color: var(--gray-700);
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-new-task {
	width: 736px;
	position: relative;
	top: -30px;
	margin: auto;
}

.add-new-task > div {
	display: flex;
	gap: 8px;
}
